/* https://www.realtimecolors.com/ */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Manrope:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ececec;
  --foreground: #1a1a1a;
}
.dark {
  --background: #1a1a1a;
  --foreground: #ececec;
}

@layer base {
  :root {
    --primary-50: #fdf8ed;
    --primary-100: #f9eccc;
    --primary-200: #f3d794;
    --primary-300: #edbd5c;
    --primary-400: #eaac45;
    --primary-500: #e1861f;
    --primary-600: #c76518;
    --primary-700: #a54718;
    --primary-800: #873819;
    --primary-900: #6f2f18;
    --primary-950: #3f1709;

    --secondary-50: #f5ffe2;
    --secondary-100: #e8ffc1;
    --secondary-200: #d0ff8a;
    --secondary-300: #b2ff47;
    --secondary-400: #99ff11;
    --secondary-500: #86f100;
    --secondary-600: #68c100;
    --secondary-700: #4c9200;
    --secondary-800: #3f7902;
    --secondary-900: #336007;
    --secondary-950: #193600;

    --accent-50: #f8f7f4;
    --accent-100: #efede5;
    --accent-200: #ded9ca;
    --accent-300: #c9bfa8;
    --accent-400: #b1a081;
    --accent-500: #a38d6c;
    --accent-600: #967d60;
    --accent-700: #7d6651;
    --accent-800: #675445;
    --accent-900: #54463a;
    --accent-950: #2c241e;
  }

  :root.dark {
    --primary-50: #fcf9ea;
    --primary-100: #f9f2c8;
    --primary-200: #f4e394;
    --primary-300: #eecd56;
    --primary-400: #e7b528;
    --primary-500: #d79e1b;
    --primary-600: #bc7c15;
    --primary-700: #945814;
    --primary-800: #7b4618;
    --primary-900: #693b1a;
    --primary-950: #3d1e0b;

    --secondary-50: #f4ffe6;
    --secondary-100: #e6fec9;
    --secondary-200: #c4fd86;
    --secondary-300: #abf95d;
    --secondary-400: #8cee2d;
    --secondary-500: #6cd50d;
    --secondary-600: #51aa06;
    --secondary-700: #3e810a;
    --secondary-800: #34660e;
    --secondary-900: #2d5611;
    --secondary-950: #143003;

    --accent-50: #f6f5f0;
    --accent-100: #e8e5da;
    --accent-200: #d3cdb8;
    --accent-300: #bab08f;
    --accent-400: #a4956e;
    --accent-500: #92825c;
    --accent-600: #7e6d4e;
    --accent-700: #62533e;
    --accent-800: #534738;
    --accent-900: #493e33;
    --accent-950: #28211b;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-brand-primary: "Inter", sans-serif;
  --font-brand-secondary: "Volkhov", serif;

  --breakpoint-xs: 36rem;
  --breakpoint-2xs: 32rem;
  --breakpoint-3xs: 28rem;

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
}

@layer base {
  body {
    @apply bg-background dark:bg-background dark:text-foreground font-brand-primary text-foreground min-h-svh;
  }

  main {
    @apply grow;
  }

  button {
    @apply cursor-pointer scroll-smooth;
  }
}
